.navbar {
  opacity: 0.98;
  background-color: #000;
}
.navbar .container .navbar-brand {
  color: #fff;
}
.navbar .container li.nav-item a {
  color: #fff !important;
  transition: .7s !important;
}
.navbar .container li.nav-item a:hover {
  color: #30f !important;
  font-weight: bold;
  transition: .7s !important;
}
.top-nav-collapse {
  background-color: #1c2331;
  opacity: 1;
}
.top-nav-collapse .container li.nav-item a {
  color: #fff !important;
  transition: .7s !important;
}
.top-nav-collapse .container li.nav-item a:hover {
  color: #909 !important;
  font-weight: bold;
  transition: .7s !important;
}
.team-section .avatar img {
  height: 50vh;
  width: auto;
  border-radius: 10% !important;
}
.page-footer {
  background-color: #1c2331;
}
#intro {
  height: 100vh;
}
.view {
  width: 100%;
  height: 100%;
  position: relative;
  background: url(../img/intro.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -khtml-background-size: cover;
}
.card-mobile {
  display: none;
}
hr.mobile-hr {
  display: none;
}
@media (max-width: 768px) {
  html,
  body,
  #intro {
    height: 150vh;
  }
  html .card-desktop,
  body .card-desktop,
  #intro .card-desktop {
    display: none;
  }
  html .card-mobile,
  body .card-mobile,
  #intro .card-mobile {
    display: block;
  }
  html hr.mobile-hr,
  body hr.mobile-hr,
  #intro hr.mobile-hr {
    display: inline;
  }
}
