html, body, header, #intro{
	height: 100%;
}


.navbar{
	opacity: 0.98;
	background-color: #000;
	.container{
		.navbar-brand{
			color: #fff;
		}
		
		
			li.nav-item {
				a {
				color: #fff !important;
				transition: .7s !important;
			}
			a:hover {
				color: #30f !important;
				font-weight: bold;
				transition: .7s !important;

			}
		}

	
	
		
	}

	
}
		.top-nav-collapse {
			background-color: #1c2331;
			opacity: 1;
			.container{
				li.nav-item {
				a {
				color: #fff !important;
				transition: .7s !important;
			}
			a:hover {
				color: #909 !important;
				font-weight: bold;
				transition: .7s !important;

			}
		}
			}

		}

		.card {
			margin: 2% 5% !important;
			min-height: 100%;
			max-width: 90vw;
		}

.team-section {
	.avatar {
		img{
			height:50vh;
			width: auto;
			border-radius: 10% !important;
		}
	}
}
		.page-footer{
			background-color: #1c2331;
		}

		// @media (max-width: 740px) {
		// 	html, body, header, #intro{
		// 		height: 200vh;
		// 	}
		// }
		// 	@media (max-width: 375px) {
		// 		html, body, header, #intro{
		// 		height: 160vh;
		// 	}
		// }
		// @media (max-width: 350px) {
		// 		html, body, header, #intro{
		// 		height: 200vh;
		// 	}
		// }
	
	// .view {
	// background: url(../img/intro.jpg) no-repeat center center fixed;
	// -webkit-background-size: cover;
	// background-size: cover;
	// }
	.view {
		width: 100%;
		height: 100%;
		position: relative;
		background: url(../img/intro.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		-o-background-size: cover;  
		-webkit-background-size: cover; 
		-moz-background-size: cover; 
		-khtml-background-size: cover;
	}