html,body,header,#intro{
	height:100%;
}   
#intro{
		background: url(../img/architecture.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		-o-background-size: cover;  
		-webkit-background-size: cover; 
		-moz-background-size: cover; 
		-khtml-background-size: cover;
		position: relative;
}
.top-nav-collapse{
	background-color: #24355C;
}
@media (max-width: 768px) {
	.navbar:not(.top-nav-collapse) {
		background: #24355C;
	}
	#intro {
		h2 {
			font-size: 2em;
		}
		h4 {
			font-size: 1em;
		}
	}
}
#examples{
	.col-lg-12{
		img{
			max-width: 100%;
		}
			position: relative;
			margin: 0;
		}
		.col-lg-6{
			img {
				max-width: 100%;
				height: auto;
			}
		}
		.col-lg-3{
			display: flex;
			justify-content: center;
			img {
				max-width: 100%;
				height: auto;
			}
			
		}	
	}
	