@media screen and (max-width: 800px) {
  header #myTopnav a {
    font-size: 0.9em;
  }
  header .second-line-menu .contact {
    flex-direction: column;
  }
  header .second-line-menu .contact span {
    font-size: 1em !important;
    margin: 10px 5px;
  }
  main section.about h1 {
    font-size: 2em;
  }
  main section.skills h2,
  main section.skills h3 {
    font-size: 1.2em;
  }
  main section.skills ul li {
    font-size: 1em;
    color: #000;
    text-shadow: none;
  }
  main section.portfolio {
    justify-content: center;
  }
  main section.portfolio #portfolio {
    font-size: 2em;
  }
  main section.portfolio div.portfolio {
    width: 100%;
    margin-top: 20px;
  }
  main section.portfolio div.portfolio .portfolio_main img {
    height: auto;
  }
  main section.portfolio div.portfolio:hover .mask {
    height: auto;
    width: auto;
    max-width: 95vw;
  }
  footer .contact {
    flex-direction: column;
  }
  footer .contact span {
    font-size: 1em !important;
    margin: 10px 5px;
  }
}
