@media screen and (max-width: 800px) {
  header #myTopnav a {
    font-size: 0.9em;
  }
  header .second-line-menu .contact {
    flex-direction: column;
  }
  header .second-line-menu .contact span {
    font-size: 1em !important;
    margin: 10px 5px;
  }
  main section.about h1 {
    font-size: 2em;
  }
  main section.skills h2,
  main section.skills h3 {
    font-size: 1.2em;
  }
  main section.skills ul li {
    font-size: 1em;
    color: #000;
    text-shadow: none;
  }
  main section.portfolio {
    justify-content: center;
  }
  main section.portfolio #portfolio {
    font-size: 2em;
  }
  main section.portfolio div.portfolio {
    width: 95vw;
    height: 20vh;
    margin-top: 20px;
  }
  main section.portfolio div.portfolio .portfolio_main img {
    width: 95vw;
    height: 20vh;
  }
  main section.portfolio div.portfolio:hover .mask {
    height: 20vh;
    width: 95vw;
  }
  main section.portfolio div.portfolio:hover .mask a p {
    font-size: 1em;
    padding-top: 10%;
  }
  footer .contact {
    flex-direction: column;
  }
  footer .contact span {
    font-size: 1em !important;
    margin: 10px 5px;
  }
}

@media screen and (max-width: 600px) {
  main section.portfolio div.portfolio {
    height: 50vh;
  }
  main section.portfolio div.portfolio .portfolio_main img {
    height: 50vh;
  }
  main section.portfolio div.portfolio:hover .mask {
    height: 50vh;
  }
}
